@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";


@layer base {
  :root {
    --main: #FFDC58;
    --overlay: rgba(0, 0, 0, 0.8); /* background color overlay for alert dialogs, modals, etc. */
  
    --bg: #FEF2E8;
    --bw: #fff; /* white and secondary black e.g. utility class variant would be: bg-[#fff] dark:bg-[#212121] */
    --blank: #000; /* blank black and white */
    --border: #000;
    --text: #444444;
    --mtext: #444444; /* text that is placed on background with main color e.g. text color of default button */
    --ring: #000;
    --ring-offset: #fff;
  
    --border-radius: 5px;
    --box-shadow-x: 4px;
    --box-shadow-y: 4px;
    --reverse-box-shadow-x: -4px;
    --reverse-box-shadow-y: -4px;
    --base-font-weight: 500;
    --heading-font-weight: 700;
  
    --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
  }

  [data-theme="dark"] {
    @apply text-slate-300;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}